
body
{
    background-color: #ffffff;
}

.main
{
    display:flex;
    width: 1500px;
    justify-content: space-evenly;
    margin: 10px auto;
    background-color: #dae1e6;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #bdc5cc;
    box-shadow: 0px 10px 50px 0px rgb(151, 150, 150)
}

.main p
{
    user-select: none;
}

#graph
{
    border-style: solid;
    border-width: 4px 4px 12px 12px;
    border-color: #a8b4bd #a8b4bd #063152 #063152;
    cursor: crosshair;
}

.graph
{
    display:flex;
    width: 930px;
    justify-content: center;
    margin: 10px 0;
    background-color: #fdffff;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #d3dde2;
}

.text_left
{
    padding: 0 10px 0 0;
    text-align: end;
    margin-top: 10px;
    width: 80px;
}

.canvas
{
    display:inline;
    margin-top: 10px;
    width: 840px;
}

.text_down
{
    display:flex;
    justify-content: space-between;
    padding-right: 15px;
}

.text_down p
{
    margin-top: 0;
    margin-bottom: 0;
}

.inspector
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    margin: 10px 0;
    background-color: #fdffff;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #d3dde2;
}

.result
{
    width: 320px;
    margin: 80px auto;
    background-color: #edf3f7;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #dae1e6;
}



.buttons
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 328px;
    margin: 100px auto 60px;
}

.clear_button
{
    display: inline-block;
    margin: 0 auto;
    width: 328px;
    background-color: #edf3f7;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #dae1e6;
    cursor: pointer;
    transition: all 0.1s;
}

.clear_button:hover
{
    background-color: #fdffff;
    border-color: #e1e7eb;
}

hr
{
    height: 2px;
    background-color:#dae1e6;
    width: 320px;
    border: none;
}

.label
{
    text-align: center;
    width: 320px;
    margin: 20px auto 0;
    background-color: #edf3f7;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px 10px 0 0;
    border-color: #dae1e6;
}

.rulers
{
    display:flex;
    justify-content: space-evenly;
}

.ruler_button
{
    display: inline-block;
    margin: 0 auto;
    width: 110px;
    background-color: #edf3f7;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #dae1e6;
    cursor: pointer;
    transition: all 0.1s;
}
.ruler_button:hover
{
    background-color: #fdffff;
    border-color: #e1e7eb;
}


.grid
{
    display:flex;
    justify-content: space-evenly;
}

.grid_button
{
    display: inline-block;
    margin: 0 auto;
    width: 170px;
    background-color: #edf3f7;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #dae1e6;
    cursor: pointer;
    transition: all 0.1s;
}
.grid_button:hover
{
    background-color: #fdffff;
    border-color: #e1e7eb;
}
